In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
df = pd.read_csv('train.csv')
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [18]:
def engineer_data(df, for_test=False):
    # df = df.dropna()
    df['HomePlanet'], _ = pd.factorize(df['HomePlanet'])
    df['CryoSleep'], _ = pd.factorize(df['CryoSleep'])
    df['VIP'], _ = pd.factorize(df['VIP'])
    df['Destination'], _ = pd.factorize(df['Destination'])
    df = df.drop(columns=['PassengerId', 'Cabin', 'Name'])
    if not for_test:
        df['Transported'], _ = pd.factorize(df['Transported'])
        X = df.drop(columns=['Transported'])
        y = df['Transported']
        return X, y
    return df

In [6]:
X, y = engineer_data(df)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=13)

C:\Users\admin\AppData\Local\Temp\ipykernel_11572\3389202879.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['HomePlanet'], _ = pd.factorize(df['HomePlanet'])
C:\Users\admin\AppData\Local\Temp\ipykernel_11572\3389202879.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['CryoSleep'], _ = pd.factorize(df['CryoSleep'])
C:\Users\admin\AppData\Local\Temp\ipykernel_11572\3389202879.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['VIP'], _ = pd.factorize(df['VIP'])
C:\Users\admin\AppData\Local\Temp\ipykernel_11572\3389202879.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Destination'], _ = pd.factorize(df['Destination'])

In [23]:
model = tf.keras.Sequential([
    tf.keras.layers.Input(shape=(X_train.shape[1],)),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.Dense(16, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

In [24]:
model.compile(loss='binary_crossentropy',
              optimizer=tf.keras.optimizers.RMSprop(learning_rate=0.001),
              metrics=['accuracy'])

In [25]:
model.fit(
      X_train, y_train,
      epochs=15,
      validation_data = (X_test, y_test),
      verbose=2)

Epoch 1/15
166/166 - 1s - 6ms/step - accuracy: 0.7339 - loss: 5.3058 - val_accuracy: 0.7648 - val_loss: 2.1021
Epoch 2/15
166/166 - 0s - 2ms/step - accuracy: 0.7544 - loss: 3.0349 - val_accuracy: 0.7920 - val_loss: 2.8653
Epoch 3/15
166/166 - 0s - 2ms/step - accuracy: 0.7606 - loss: 2.2862 - val_accuracy: 0.7474 - val_loss: 2.0620
Epoch 4/15
166/166 - 0s - 2ms/step - accuracy: 0.7600 - loss: 2.0144 - val_accuracy: 0.7595 - val_loss: 1.4590
Epoch 5/15
166/166 - 0s - 2ms/step - accuracy: 0.7572 - loss: 1.8369 - val_accuracy: 0.7806 - val_loss: 2.0404
Epoch 6/15
166/166 - 0s - 2ms/step - accuracy: 0.7593 - loss: 1.5611 - val_accuracy: 0.7322 - val_loss: 1.7159
Epoch 7/15
166/166 - 0s - 2ms/step - accuracy: 0.7648 - loss: 1.3471 - val_accuracy: 0.7716 - val_loss: 1.2185
Epoch 8/15
166/166 - 0s - 2ms/step - accuracy: 0.7576 - loss: 1.2369 - val_accuracy: 0.7753 - val_loss: 0.8140
Epoch 9/15
166/166 - 0s - 2ms/step - accuracy: 0.7583 - loss: 1.1672 - val_accuracy: 0.7579 - val_loss: 1.1207
Epoch 10/15
166/166 - 0s - 2ms/step - accuracy: 0.7693 - loss: 1.0543 - val_accuracy: 0.7769 - val_loss: 0.7415
Epoch 11/15
166/166 - 0s - 2ms/step - accuracy: 0.7570 - loss: 0.9723 - val_accuracy: 0.7753 - val_loss: 0.6498
Epoch 12/15
166/166 - 0s - 2ms/step - accuracy: 0.7629 - loss: 0.8425 - val_accuracy: 0.7595 - val_loss: 1.2164
Epoch 13/15
166/166 - 0s - 2ms/step - accuracy: 0.7627 - loss: 0.7919 - val_accuracy: 0.8003 - val_loss: 1.3127
Epoch 14/15
166/166 - 0s - 2ms/step - accuracy: 0.7672 - loss: 0.7139 - val_accuracy: 0.7837 - val_loss: 0.6529
Epoch 15/15
166/166 - 0s - 2ms/step - accuracy: 0.7648 - loss: 0.7069 - val_accuracy: 0.6581 - val_loss: 1.6209

In [13]:
from sklearn.ensemble import RandomForestClassifier
rfc_model = RandomForestClassifier(n_estimators=100, random_state=42)
rfc_model.fit(X_train, y_train)
rfc_model.score(X_test, y_test)

0.7912254160363086

In [19]:
otdf = pd.read_csv('test.csv')
otdf.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [20]:
tdf = engineer_data(otdf, for_test=True)
tdf.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,0,0,0,27.0,0,0.0,0.0,0.0,0.0,0.0
1,0,1,0,19.0,0,0.0,9.0,0.0,2823.0,0.0
2,1,0,1,31.0,0,0.0,0.0,0.0,0.0,0.0
3,1,1,0,38.0,0,0.0,6652.0,0.0,181.0,585.0
4,0,1,0,20.0,0,10.0,0.0,635.0,0.0,0.0

In [21]:
test_pred = model.predict(tdf).ravel()
new_df = pd.DataFrame({'PassengerId': otdf['PassengerId'], 'Transported': test_pred>0.5})
new_df.to_csv('predictions2.csv', index=False)

134/134 ━━━━━━━━━━━━━━━━━━━━ 0s 834us/step

In [22]:
tp = rfc_model.predict(tdf)
new_df = pd.DataFrame({'PassengerId': otdf['PassengerId'], 'Transported': tp==1})
new_df.to_csv('predictions.csv', index=False)